<div class="content">
    <div class="">
        <div class="row">
            <div class="col-4 ml-auto mb-4">
                <label for="" class="text-light">Table Search</label>
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
            </div>
        </div>
        <div class="row">
            <div class="col-3 ml-auto mb-3">
                <button class="btn btn-info" type="button" [routerLink]="['/add-employess']">
                    <i class="fa fa-plus mr-2"></i>
                    Add Employess
                </button>
            </div>
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Employee Name</th>
                            <th scope="col">Employee Phone</th>
                            <th scope="col">Employee Email</th>
                            <th scope="col">Employee Address</th>
                            <th scope="col">Employee Image</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr *ngFor="let employee of loadEmployeeData">
                            <th scope="row">{{employee.id}}</th>
                            <td>{{employee.name}}</td>
                            <td>{{employee.phone_number}}</td>
                            <td>{{employee.email}}</td>
                            <td>{{employee.address}}</td>
                            <td>
                                <img src="{{base_image_url + employee.user_image}}" *ngIf="employee.user_image" alt="image.png" style="height: 50px; width:50px">
                            </td>
                            <td>
                                <i class="fa fa-edit cr-p" title="Edit User" [routerLink]="['/edit-employess', employee.id]" ></i>
                                <i class="fa fa-trash ml-2 cr-p" title="Delete User"  (click)="deleteEmploye(employee.id)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
