<div class="content">
    <div class="">
        <div class="row">
            <div class="col-8">
                <h3 class="font-weight-bold mt-3">Service Detail</h3>
            </div>
            <div class="col-4 ml-auto mb-4">
                <label for="" class="text-light">Search</label>
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <button [routerLink]="['/add-category']" class="btn btn-info mt-3">
                    <i class="fa fa-plus ml-2 cr-p" title="Add category"></i> Add Service
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Hours</th>
                            <th scope="col">Price</th>
                            <th scope="col">Images</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr *ngFor="let service of loadServiceData">
                            <th scope="row">{{service.id}}</th>
                            <td>{{service.title}}</td>
                            <td>{{service.min_time}}</td>
                            <td>{{service.price}}</td>
                            <td>
                              <img src="{{base_image_url + service.image}}" *ngIf="service.image" alt="image.png" style="height: 50px; width:50px">
                          </td>
                            <td>
                                <i class="fa fa-edit cr-p" title="Edit category" [routerLink]="['/edit-category', service.id]"></i>
                                <i class="fa fa-trash ml-2 cr-p" title="Delete category"  (click)="deleteService(service.id)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
