<div class="content">
  <form [formGroup]="employeeForm" (ngSubmit)= "onSubmit()">
        <div class="row">
            <div class="col-8 m-auto">
                <h3 class="font-weight-bold">Add Employee</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Employee Name</label>
                            <!-- <input type="text" class="form-control" placeholder="Enter Name" /> -->
                            <input type="text" class="form-control" formControlName="name" placeholder="Enter Name"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                             <div *ngIf="submitted && f.name.errors" class="invalid-feedback text-danger">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Employee Email</label>
                            <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email"
                              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                             <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-danger">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Employee Number</label>
                            <input type="number" class="form-control" formControlName="phone_number" aria-describedby="emailHelp" placeholder="Enter number"
                            [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }" />
                             <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback text-danger">
                                <div *ngIf="f.phone_number.errors.required">Phone Number is required</div>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Employee Address</label>
                            <input type="text" class="form-control" formControlName="address" aria-describedby="emailHelp" placeholder="Enter location"
                            [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                             <div *ngIf="submitted && f.address.errors" class="invalid-feedback text-danger">
                                <div *ngIf="f.address.errors.required">Address is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                          <img [src]="url" *ngIf="url" style="height: 100px; width:100px">
                            <label class="">Choose Image</label><br />
                            <input type='file' (change)="onSelectFile($event)" />
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
        </div>
    </form>
</div>
