<div class="content">
  <form [formGroup]="serviceUpdatedForm" (ngSubmit)= "onSubmit()">
        <div class="row">
            <div class="col-8 m-auto">
                <h3 class="font-weight-bold">Edit Category</h3>
                <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" class="form-control" formControlName="title" name="title" [(ngModel)]="loadService.title"
                      [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback text-danger">
                          <div *ngIf="f.title.errors.required">Title is required</div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Hours</label>
                            <select class="form-control" (change)="changeHours($event)" formControlName="min_time" name="min_time" [(ngModel)]="loadService.min_time"
                            [ngClass]="{ 'is-invalid': submitted && f.min_time.errors }">
                              <option value="{{loadService.min_time}}" selected="selected">{{loadService.min_time}}</option>
                              <option *ngFor="let hour of Hours" [ngValue]="hour">{{hour}} Hours</option>
                           </select>
                           <div *ngIf="submitted && f.min_time.errors" class="invalid-feedback text-danger">
                            <div *ngIf="f.min_time.errors.required">Price is required</div>
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Price</label>
                      <input type="text" class="form-control" formControlName="price" name="price" [(ngModel)]="loadService.price"
                      [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                        <div *ngIf="submitted && f.price.errors" class="invalid-feedback text-danger">
                          <div *ngIf="f.price.errors.required">Price is required</div>
                        </div>
                  </div>
                    <div class="col-md-6">
                        <div class="form-check">
                          <img src="{{loadServiceImage}}" *ngIf="loadService" alt="" style="height: 150px; width:150px">

                          <label class="">Choose Image</label><br />
                          <input type='file' (change)="onSelectFile($event)" />
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
        </div>
    </form>
</div>
