<div class="content">
    <div class="">
        <div class="row">
            <h3 class="font-weight-bold">Order View Detail</h3>
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Order No</th>
                            <th scope="col">Order Detail</th>
                            <th scope="col">Order Status</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr>
                            <th scope="row">1</th>
                            <td>1234</td>
                            <td>ABC</td>
                            <td>Pending</td>
                            <td>300PKR</td>
                            <td>
                                <i class="fa fa-trash ml-2 cr-p" title="Delete Order"></i>
                                <i class="fa fa-lock ml-2 cr-p" title="Block Order"></i>
                                <i class="fa fa-unlock-alt d-none ml-2 cr-p" title="UnBlock User"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>1234</td>
                            <td>ABC</td>
                            <td>Pending</td>
                            <td>300PKR</td>
                            <td>
                                <i class="fa fa-trash ml-2 cr-p" title="Delete Order"></i>
                                <i class="fa fa-lock ml-2 cr-p" title="Block Order"></i>
                                <i class="fa fa-unlock-alt d-none ml-2 cr-p" title="UnBlock User"></i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>1234</td>
                            <td>ABC</td>
                            <td>Pending</td>
                            <td>300PKR</td>
                            <td>
                                <i class="fa fa-trash ml-2 cr-p" title="Delete Order"></i>
                                <i class="fa fa-lock ml-2 cr-p" title="Block Order"></i>
                                <i class="fa fa-unlock-alt d-none ml-2 cr-p" title="UnBlock User"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>