<div class="content">
  <!-- <form [formGroup]="sliderForm" (ngSubmit)="onSubmit()"> -->
        <div class="row">
            <div class="col-8 m-auto">
                <h3 class="font-weight-bold">Add Slider</h3>
                <div class="row">
                    <div class="col-md-6">
                      <img [src]="url" *ngIf="url" style="height: 300px; width:500px">
                        <div class="form-check">
                            <label class="">Choose Slider Image</label><br />
                            <input type='file' (change)="onSelectFile($event)" />
                        </div>
                    </div>
                </div>
                <button type="button" (click)="onUplaod()"  class="btn btn-primary mt-3">Submit</button>
            </div>
        </div>
    <!-- </form> -->
</div>
