<div class="content">
  <form [formGroup]="employeeUpdate" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-8 m-auto">
                <h3 class="font-weight-bold">Edit Employee</h3>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Employee Name</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="loadEmployee.name" formControlName="name"
                              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required ">First Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Employee Email</label>
                            <input type="email" class="form-control" aria-describedby="emailHelp" name="email" [(ngModel)]="loadEmployee.email" formControlName="email"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required ">Email is required</div>
                                <div *ngIf="!f.email.errors.valid && !f.name.errors.required">First name format is not valid</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Employee Number</label>
                            <input type="number" class="form-control" aria-describedby="emailHelp" name="phone_number" [(ngModel)]="loadEmployee.phone_number" formControlName="phone_number"
                            [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }"/>
                            <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback">
                                <div *ngIf="f.phone_number.errors.required ">Phone Number is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Employee Address</label>
                            <input type="text" class="form-control" aria-describedby="emailHelp" name="address" [(ngModel)]="loadEmployee.address" formControlName="address"
                            [ngClass]="{ 'is-invalid': submitted && f.address.errors }"/>
                            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required "><Address></Address> is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                          <img src="{{loadEmployeImage}}" *ngIf="loadEmployee" alt="" style="height: 150px; width:150px">

                            <label class="">Choose Image</label><br />
                            <input type='file' (change)="onSelectFile($event)" />
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
        </div>
    </form>
</div>
