<div class="content">
    <div class="">
        <div class="row">
            <div class="col-4 ml-auto mb-4">
                <label for="" class="text-light">Table Search</label>
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
            </div>
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody id="myTable">
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                            <i class="fa fa-edit cr-p" title="Edit User"></i>
                            <i class="fa fa-trash ml-2 cr-p" title="Delete User"></i>
                            <i class="fa fa-lock ml-2 cr-p" title="Block User"></i>
                            <i class="fa fa-unlock-alt d-none ml-2 cr-p" title="UnBlock User"></i>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>
                            <i class="fa fa-edit cr-p" title="Edit User"></i>
                            <i class="fa fa-trash ml-2 cr-p" title="Delete User"></i>
                            <i class="fa fa-lock ml-2 cr-p" title="Block User"></i>
                            <i class="fa fa-unlock-alt d-none ml-2 cr-p" title="UnBlock User"></i>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td >Larry the Bird</td>
                        <td>@twitter</td>
                        <td>@twitter</td>
                        <td>
                            <i class="fa fa-edit cr-p" title="Edit User"></i>
                            <i class="fa fa-trash ml-2 cr-p" title="Delete User"></i>
                            <i class="fa fa-lock ml-2 cr-p" title="Block User"></i>
                            <i class="fa fa-unlock-alt d-none ml-2 cr-p" title="UnBlock User"></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>