<div class="content">
    <div class="">
        <div class="row">
            <div class="col-8">
                <h3 class="font-weight-bold mt-3">Slide Category Detail</h3>
            </div>
            <div class="col-4 ml-auto mb-4">
                <label for="" class="text-light">Search</label>
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <button [routerLink]="['/add-slide']" class="btn btn-info mt-3">
                    <i class="fa fa-plus ml-2 cr-p" title="Add slide"></i> Add slide
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Slide Title</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr *ngFor="let slideCategory of loadSlideCategoryData">
                            <th scope="row">{{slideCategory.id}}</th>
                            <td>{{slideCategory.title}}</td>
                            <td>
                                <i class="fa fa-edit cr-p" title="Edit category" [routerLink]="['/edit-slide', slideCategory.id]"></i>
                                <i class="fa fa-trash ml-2 cr-p" title="Delete category" (click)="deleteSlidecategory(slideCategory.id)"></i>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
