<div class="content">
    <form>
        <div class="row">
            <div class="col-8 m-auto">
                <h3 class="font-weight-bold">Edit Slider</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-check">
                          <img src="{{loadSlide}}" *ngIf="loadSlide" alt="" style="height: 200px; width:200px">

                            <input type='file' (change)="onSelectFile($event)" />
                            <label class="">Choose Slider Image</label><br />
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3" (click)="onUpdateUpload()">Update</button>
            </div>
        </div>
    </form>
</div>
