<div class="container-fluid">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/img/logo-01.png" id="icon" alt="User Icon" class="w-50" />
      </div>
      <!-- Login Form -->
      <form [formGroup]="authForm" novalidate (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-8 m-auto">
            <div>
              <input type="email" class="fadeIn second" formControlName="email" placeholder="login">
              <div *ngIf="authForm.controls.email.invalid && authForm.controls.email.touched"> Email is required</div>
            </div>
            <div>
              <input type="password" id="password" class="fadeIn third" formControlName="password" placeholder="password">
              <div *ngIf="authForm.controls.password.invalid && authForm.controls.password.touched"> Password is required</div>
            </div>
    
            <button type="submit" class="fadeIn fourth btn btn-info mb-5 mt-2">
              Log In
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


