<div class="content">
  <div class="">
    <div class="row">
      <div class="col-4 ml-auto mb-4">
        <label for="" class="text-light">Table Search</label>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <button class="btn btn-info mt-3" [routerLink]="['/add-slider']">
          <i class="fa fa-plus ml-2 cr-p" title="Add Slider" ></i> Add Slider
        </button>
      </div>
      <div class="col-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Slide Image</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody id="myTable">
            <tr *ngFor="let slide of loadSlideData">
              <th scope="row">{{slide.id}}</th>
              <td>
                <img src="{{base_image_url+slide.banner_file}}" *ngIf="slide.banner_file" alt="" style="height: 50px; width:50px">
              </td>
              <td>
                <i class="fa fa-edit cr-p" title="Edit Slider" [routerLink]="['/edit-slider', slide.id]"></i>
                <!-- <i class="fa fa-edit cr-p" title="Edit Slider" routerLink="/edit-slider/{{slide.id}}"></i> -->
                <i class="fa fa-trash ml-2 cr-p" title="Delete Slider" (click)="deleteSlider(slide.id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
