<div class="content">
    <div class="">
        <div class="row">
            <div class="col-8">
                <h3 class="font-weight-bold mt-3">Inner Category Detail</h3>
            </div>
            <div class="col-4 ml-auto mb-4">
                <label for="" class="text-light">Search</label>
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <button [routerLink]="['/add-inner']" class="btn btn-info mt-3">
                    <i class="fa fa-plus ml-2 cr-p" title="Add inner service"></i> Add inner Service
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Hours</th>
                            <th scope="col">Images</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                      <tr *ngFor="let innerCategory of loadInnerCategoryData">
                            <th scope="row">{{innerCategory.id}}</th>
                            <td>{{innerCategory.title}}</td>
                            <td>{{innerCategory.price}}</td>
                            <td>
                              <img src="{{base_image_url + innerCategory.image}}" *ngIf="innerCategory.image" alt="image.png" style="height: 50px; width:50px">
                            </td>
                            <td>
                                <i class="fa fa-edit cr-p" title="Edit category" [routerLink]="['/edit-inner', innerCategory.id]"></i>
                                <i class="fa fa-trash ml-2 cr-p" title="Delete category"  (click)="deleteInnerCaegory(innerCategory.id)"></i>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
