<div class="content">
  <form [formGroup]="pakagesForm" (ngSubmit)= "onSubmit()">
        <div class="row">
            <div class="col-8 m-auto">
                <h3 class="font-weight-bold">Add Pakages</h3>
                <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" class="form-control" formControlName="title" placeholder="Enter Title"
                      [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                        <div *ngIf="submitted && f.title.errors" class="invalid-feedback text-danger">
                          <div *ngIf="f.title.errors.required">Title is required</div>
                        </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Price</label>
                  <input type="text" class="form-control" formControlName="price" placeholder="Enter Price"
                  [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                    <div *ngIf="submitted && f.price.errors" class="invalid-feedback text-danger">
                      <div *ngIf="f.price.errors.required">Price is required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="" class="text-light">Start Date</label>
                        <input type="date" class="form-control" formControlName="start_date"
                        [ngClass]="{ 'is-invalid': submitted && f.start_date.errors }" />
                        <div *ngIf="submitted && f.start_date.errors" class="invalid-feedback text-danger">
                          <div *ngIf="f.start_date.errors.required">Start Date is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="" class="text-light">End Date</label>
                        <input type="date" class="form-control" formControlName="end_date"
                        [ngClass]="{ 'is-invalid': submitted && f.end_date.errors }" />
                        <div *ngIf="submitted && f.end_date.errors" class="invalid-feedback text-danger">
                          <div *ngIf="f.end_date.errors.required">End Date is required</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check">
                          <img [src]="url" *ngIf="url" style="height: 100px; width:100px">
                          <label class="">Choose Image</label><br />
                          <input type='file' (change)="onSelectFile($event)" />
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <label for="">Service Id</label>
                          <select class="form-control" (change)="selectService($event)" formControlName="service_id"
                          [ngClass]="{ 'is-invalid': submitted && f.service_id.errors }">
                            <option value="" selected="selected">select one...</option>
                            <option *ngFor="let service of loadServiceData" [ngValue]="service.id">{{service.title}}</option>
                         </select>
                         <div *ngIf="submitted && f.service_id.errors" class="invalid-feedback text-danger">
                          <div *ngIf="f.service_id.errors.required">Service is required</div>
                        </div>
                      </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
        </div>
    </form>
</div>
