<div class="content">
  <div class="">
    <div class="row">
      <div class="col-md-4 ml-auto mb-4">
        <label for="" class="text-light">Table Search</label>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
      </div>
      <div class="col-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Phone</th>
              <th scope="col">Email</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody id="myTable">

              <tr *ngFor="let user of loadUserData">
                <th scope="row">1</th>
                <td>{{user.name}}</td>
                <td>{{user.phone_number}}</td>
                <td>{{user.email}}</td>
                <td>
                  <i class="fa fa-trash ml-2 cr-p" title="Delete User" (click)="deleteUser(user.id)"></i>
                  <i *ngIf="user.status === '2'" class="fa fa-lock ml-2 cr-p" title="Block User" (click)="blockUnbockUser(user.id, user.status)"></i>
                  <i  *ngIf="user.status === '1'" class="fa fa-unlock-alt ml-2 cr-p" title="UnBlock User" (click)="blockUnbockUser(user.id, user.status)"></i>
                </td>
              </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
