<div class="content">
  <div class="">
    <div class="row">
      <div class="col-4 ml-auto mb-4">
        <label for="" class="text-light">Table Search</label>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <button class="btn btn-info mt-3" [routerLink]="['/add-package']">
          <i class="fa fa-plus ml-2 cr-p" title="Add package" ></i> Add Package
        </button>
      </div>
      <div class="col-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Price</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Image</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody id="myTable">
            <tr *ngFor="let pakage of loadPakagesData">
              <th scope="row">{{pakage.id}}</th>
              <td>
                {{pakage.title}}
              </td>
              <td>
                {{pakage.price}}
              </td>
              <td>
                {{pakage.start_date}}
              </td>
              <td>
                {{pakage.end_date}}
              </td>
              <td>
                <img src="{{base_image_url + pakage.image}}" *ngIf="pakage.image" alt="image.png" style="height: 50px; width:50px">
              </td>
              <td>
                <i class="fa fa-edit cr-p" title="Edit Slider" [routerLink]="['/edit-package', pakage.id]"></i>
                <i class="fa fa-trash ml-2 cr-p" title="Delete Slider" (click)="deletePakages(pakage.id)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
