<div class="content">
  <div class="container">
    <div class="card-title text-light">
      Orders Details
    </div>
    <div class="row">
      <nav class="navbar col-md-4 mr-auto mb-4">
        <label for="" class="text-light">Search Bar</label>
        <input class="form-control" type="text" name="search" [(ngModel)]="filter" autocomplete="off" />      
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th (click)="sort('number')">Order No
              <i class="fa sort-icon" *ngIf="key =='number'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
            </th>
            <th (click)="sort('status')">Order Status
              <i class="fa sort-icon" *ngIf="key =='status'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
            </th>
            <th (click)="sort('detail')">Order Detail
              <i class="fa sort-icon" *ngIf="key =='detail'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
            </th>
            <th (click)="sort('amount')">Total Amount
              <i class="fa sort-icon" *ngIf="key =='amount'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
            </th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let game of games | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p } let i = index">
            <td>{{i}}</td>
            <td>{{game.number}}</td>
            <td>{{game.status}}</td>
            <td>{{game.detail}}</td>
            <td>{{game.amount}}</td>
            <td>
              <i class="fa fa-eye ml-2 cr-p" [routerLink]="['/order-view']" title="View Order"></i>
              <i class="fa fa-trash ml-2 cr-p" title="Delete Order"></i>
              <i class="fa fa-lock ml-2 cr-p" title="Block Order"></i>
              <i class="fa fa-unlock-alt d-none ml-2 cr-p" title="UnBlock User"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-12">
          <pagination-controls (pageChange)="p = $event" class="w-100"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>