/* You can add global styles to this file, and also import other style files */
.cr-p{
    cursor:  pointer !important;
}
.modal-content{
    min-width: 700px !important;
    margin: 0 auto !important;
}
.modal.show .modal-dialog {
    -webkit-transform: translate(-13%, 30%) !important;
    transform: translate(-13%, 30%) !important;
}